*{
list-style:none;
margin:0; 
padding:0;
text-decoration:none;
}
header{
width: 100%;
height: 100vh;
background-image:url(headerfoto.jpg);
background-size: cover;
background-repeat: no-repeat;
position: relative;
}
nav{
display: flex;
justify-content: space-between;
}
nav::after{
content: "";
background-color: black;
width: 70%;
height: 1px;
position: absolute;
top:10%;
}
ul{
display:flex;
   
}
.nav__ul--anchors > li{
padding: 10%;
display: flex;
align-items: center;
}
.nav__ul--icons > li{
    padding: 10%;
    display: flex;
    align-items: center;
}
li img{
    width: 50%;
}
.logo{
    width: 30%;
}
.header__div{
    position: absolute;
    top:80%;
    left: 10%;
}
.header__div--button{
    padding: 10px;
    background-color: #3b88c3;
    border: none;
    border-radius: 10px;
}
